.toplogo {
    background-color : #3366cc;
    flex: 0 0 15%;
    color: white;
    padding: 10px;
    font-size: 25px;
    margin: 0px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
}
.toptexto {
    background-color : #e5eefb;
    font-family: "Work Sans", sans-serif;
    font-size: 12px;
    color: #0b457f;
    flex: 0 0 85%;
    text-align: left;
    align-items: center;
    
}
.contenedor_arriba {
    display : flex;
    align-items: stretch;
    padding: 0px;
    width: 100%;
}
.toplog, .toptexto {
    display: flex;
    align-items: center;
    padding: 10px;
}
.toplogo p {
  margin: 0;
} 
.logoprincipal {
    margin-left: 230px;
}
.publicidad {
    display: flex;
    justify-content: center;
}
.hr {
    width: 100%;
    height: 3px;
    background-color: #05825e;
}
.contenedor_central {
    display : flex;
    align-items : start;
    padding : 10px;
    width : 100%;
    background-color: #f8f8f8;
}
.parte_izquierda{
    flex: 0 0 20%;
    font-family: "Work Sans", sans-serif;
    gap : 20px;
}

.portales {
    font-size: 40px;
    font-weight: bold;
}
.portales_texto {
    color: #069169;
    font-size: 18px;
    
}
.contenedor_izquierdo {
    display : flex;
    flex-direction: column;
    background-color: #009166;
    color : white;
    max-width: 250px;
    gap : 20px;
    padding : 10px;
    flex-wrap : wrap;
}
.opcion {
    color: white;
}
.opcion:hover {
    text-decoration: underline;
}
.titulo {
    font-size: 28px;
}
.mini_contenedor {
  background-color: #009166; 
  padding: 15px;
  border-bottom: 1px solid white; 
}
.parte_derecha {
    flex: 0 0 80%;
    font-family: "Work Sans", sans-serif;
    display: grid;
    align-items: start;
}
.contenedor_derecha {
    display : grid;
    grid-template-columns : repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 800px;

}
.caja {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
}
.caja h3 {
  font-size: 18px;
  font-weight: bold;
  color: #004d40;
  margin: 10px 0;
}
.caja p, .caja li {
  font-size: 14px;
  color: #333;
}

.icono {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}
.caja p:hover, .caja li:hover {
    color: grey;
}
.contenedor_temas_de_interes {
    background-color: #dff0ff;
    display : grid;
    grid-template-columns : repeat(4, 1fr);
    max-width: 900px;
}
.tema_interes h3 {
    font-weight: bold;
    color : black;
    font-size: 18px;
}
.tema_interes p:hover, .tema_interes li:hover {
    color: grey;
}
.tema_interes {
    display : flex;
    flex-direction : column;
    padding : 20px;
    max-width: 150px;
}
.tema_interes ul li::marker {
    color: #009166;
}
.antepenultima_parte {
    background-color : #ffff;

}
.antepenultima_parte h1 {
    font-size : 20px;
    font-weight : bold;
}
.contenedor_servicios {
    display : flex;
    flex-direction : row;
    padding : 20px;
    width : 100%;
    font-family : "Work Sans", sans-serif;
    background-color : #ffff;
}
.servicio {
    color : black;
}
.servicio h1 {
    color : #069169;
    font-size : 20px;
}
.servicio li {
    color : black;

}
.servicio li:hover {
    color : grey;

}
.servicio ul li::marker {
    color : #069169;
}
.penultima_parte {
    background-color : #ffff;
    display : flex;
    gap : 20px;
    font-family : "Work Sans", sans-serif;

}
.penultima_parte h1 {
    color : #069169
}
.penultima_parte li:hover {
    color: grey
}
.subpenultima_parte {
    display : flex;
    font-family : "Work Sans", sans-serif;

}
.subpenultima_parte ul li::marker {
    color : #069169;
}
.subpenultima_parte h1 {
    color : #069169;
    font-size : 18px;
}
.subpenultima_parte li:hover {
    color: grey
}
.footer {
    background-color : #3366cc;
    display : flex;
    font-family : "Work Sans", sans-serif;
}
.logofinal {
    height : 250px;
    width : 20%;
}
.info {
    display : flex;
    flex-direction : column;
    padding : 20px;
    color : white;
    align-items : flex-start;
    width : 40%;
}
.info h1 {
    font-size : 18px;
    font-weight : bold;
}
.contacto {
    display : flex;
    flex-direction : column;
    padding : 20px;
    color : white;
    align-items : flex-start;
    width : 40%;
}
.contacto h1 {
    font-size : 18px;
    font-weight : bold;
}
.contacto_opciones {
    display : flex;
    flex-direction : column;
    padding : 20px;
}
.contacto_opciones li:hover {
    text-decoration : underline;
    font-size : 20px;
}